* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #fec307;
    font-family: 'Press Start 2P', cursive;
    background-color: #13161f;
}

body>img {
    height: 200px;
}

.levels {
    margin: 20px auto 5px;
    border-radius: 7px;
    padding: 10px;
    height: 50px;
}

button {
    font-size: 17px;
    border-radius: 20px;
    background-color: #fec307;
    border: 1px solid #e57f02;
    width: 120px;
    padding: 7px;
    margin: 0 15px;
    box-shadow: 0px 0px 7px 2px #f39406;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

button:hover {
    cursor: pointer;
    background-color: #f39406;
}

.restart {
    background-color: whitesmoke;
    width: 60px;
    display: block;
    margin: 15px auto 1px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 10px;
    font-size: 30px;
    border: none;
}

.restart:hover {
    background-color: #693316;
}

.features div {
    font-size: 12px;
    display: inline-block;
    margin: 15px 20px 0px 0px;
}

.features .icon {
    font-size: 20px;
}

.features .icon:not(.lives):hover {
    cursor: pointer;
}

.features button {
    width: 100px;
    border-radius: 7px;
    background-color: #fee507;
}

.features button:hover {
    background-color: #f39406;
}

.hint-text {
    margin: 20px auto;
    transition: 0.3s;
    font-size: 12px;
    visibility: hidden;
}

.game-board table {
    margin: 15px auto;
    border-spacing: initial;
    border: 3px solid #a1a1a1;
    table-layout: fixed;
}

.cell {
    min-height: 36px;
    height: 36px;
    min-width: 36px;
    width: 36px;
    overflow: hidden;
    word-wrap: break-word;
    background-color: #ccc;
    border: 3px solid;
    border-color: #fff #808080 #808080 #fff;
    transition: 0.2s;
}

.cell:hover {
    background-color: #afaeae;
    cursor: pointer;
}

.cell.hint {
    background-color: #c8f819;
}

.cell.clicked {
    background-color: #b6b5b5;
    border-color: #777 #eee #eee #777;
}

.cell.clicked:hover {
    cursor: default;
}

.cell.clicked-mine {
    background-color: #f39406;
}

.cell.not-pointer:hover {
    cursor: default;
    background-color: #ccc;
}

.message {
    display: none;
    margin: 20px auto;
    transition: 0.3s;
    font-size: 13px;
}

/* <div class="features manual">
<button class="manual-button" onclick="setManualMode()">Manual</button>
<div class="mines-left">
    Mines left: <span data-id="mines-left"></span>
</div>
<div class="manual-message">Click to set mines</div>
</div> */

.manual-button {
    margin-top: 40px;
}

.manual .mines-left {
    display: none;
}

.features .manual-message {
    margin-top: 20px;
    display: none;
}

.footer-container {
    margin-top: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffae00;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    background-color: #3a271d;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}